@media screen and (max-width: 768px) {
  .banner-conatiner{
    height: 400px ;
    background-color: transparent !important;
  }

    .swiper-conatiner {
        width: 100%;
        max-width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .first-swiper{
        max-width: 100% !important;
    }
}
